@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'text-security-disc';
  src: url('https://cdnjs.cloudflare.com/ajax/libs/text-security/2.0.0/text-security-disc.woff2') format('woff2');
}

.text-security-disc {
  font-family: 'text-security-disc', sans-serif;
}

html {
  scroll-behavior: smooth;
}
@keyframes progress {
  0% { width: 0% }
  100% { width: 100% }
}

.animate-progress {
  animation: progress 3s linear;
}