services:
  - type: web
    name: connect-wallet-client
    env: static
    rootDir: client
    buildCommand: npm install && npm run build
    publishDir: build
    envVars:
      - key: REACT_APP_REOWN_PROJECT_ID
        sync: false
      - key: REACT_APP_RECIPIENT_ADDRESS
        sync: false
      - key: REACT_APP_ALCHEMY_API_KEY
        sync: false
      - key: REACT_APP_API_URL
        sync: false
      - key: REACT_APP_SOLANA_RECIPIENT_ADDRESS
        sync: false
      - key: REACT_APP_SOLANA_RPC_URL
        sync: false 